<div style="margin-left: 40px; margin-right: 40px">
  <div class="alert alert-danger" ng-if="errors.length > 0">
    <strong>Danger!</strong>
    <br/>
    <span ng-repeat="error in errors track by $index">{{error}}<br/></span>
  </div>
  <div class="alert alert-warning" ng-if="warnings.length > 0">
    <strong>Warning!</strong>
    <br/>
    <span ng-repeat="warn in warnings" >{{warn}}<br/></span>
  </div>
  <div class="row">
    <div class="form-group col-xs-6">
      <button type="submit" class="btn btn-default" ng-click="goBack()">Back</button>
    </div>
  </div>
  <form>
    <div class="row">
      <div class="form-group col-xs-6 col-md-6">
        <ul>
          <li><strong>Tracking name : </strong> {{track.name}}</li>
          <li><strong>Delivery address : </strong> {{track.delivery}}</li>
          <li><strong>Min temp: </strong> {{track.mintemp}}</li>
          <li><strong>Max temp: </strong> {{track.maxtemp}}</li>
          <li><strong>Min pressure: </strong> {{track.minpressure}}</li>
          <li><strong>Max pressure: </strong> {{track.maxpressure}}</li>
        </ul>
      </div>
      <div class="form-group col-xs-6 col-md-6">
        <ul>
          <li><strong>Tracking number : </strong> {{track.number}}</li>
          <li><strong>Delivery date : </strong> {{track.date | date:'dd/MM/yyyy hh:mm'}}</li>
          <li><strong>Is Fragile : </strong> {{track.isFragile == true ? 'Yes' : 'No'}}</li>
          <li><strong>Is Food : </strong> {{track.isFood == true ? 'Yes' : 'No'}}</li>
          <li><strong>Is Pressure : </strong> {{track.isPressure == true ? 'Yes' : 'No'}}</li>
        </ul>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-xs-6">
      <button type="submit" class="btn btn-warning" ng-click="tooglePasteArea()">Add Sensor Data</button>
      <button type="submit" class="btn btn-warning" ng-click="toogleTableArea()">Show Sensor Data</button>
    </div>
    <div class="col-xs-6 ">
      <button type="submit" class="btn btn-success pull-right" ng-click="submit()" style="margin-left: 10px;">Submit</button>
      <button type="submit" class="btn btn-danger pull-right" ng-click="decline()">Decline</button>
    </div>
  </div>
  <div class="row" ng-if="showPasteArea">
    <div class="form-group col-xs-12" >
      <label for="txtarea">Pase JSON Sensor Data</label>
      <br/>
      <textarea rows="3" class="col-xs-12" id="txtarea" ng-model="sensorData.data"></textarea>
    </div>
    <div class="form-group col-xs-12" >
      <button type="submit" class="btn btn-primary" ng-click="save()">Submit</button>
    </div>
  </div>
  <div class="row" ng-if="showTableArea">
    <div class="col-xs-12">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Type</th>
          <th>Topic</th>
          <th>Values</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in track.sensors track by $index">
          <td>{{row.sensorType}}</td>
          <td>{{row.topic}}</td>
          <td>
            <span ng-repeat="values in row.values track by $index">
              {{values}}
            </span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3>Hours per day: </h3>
      <div class="col-md-3">
        <br/>
        <br/>
        <ul style="margin-left: 0px; padding-left: 0px">
          <li ng-repeat="lbl in labels track by $index">
            <strong>{{lbl}}:</strong> {{hoursPerday[$index]}}h
          </li>
        </ul>
      </div>
      <div class="col-md-9">
        <canvas id="doughnut" class="chart chart-doughnut"
                chart-data="data" chart-labels="labels"
                chart-colors="colors">
        </canvas>
      </div>
    </div>
    <div class="col-md-4">
      <h3>Stops per day: </h3>
        <canvas id="doughnut2" class="chart chart-bar"
                chart-data="valuesH" chart-labels="labels" chart-series="stops">
        </canvas>
    </div>
    <div class="col-md-4">
      <br/>
      <br/>
      <div class="alert alert-danger" ng-if="errorsDriver.length > 0">
        <strong>Danger!</strong>
        <br/>
        <span ng-repeat="error in errorsDriver track by $index">{{error}}<br/></span>
      </div>
      <div class="alert alert-warning" ng-if="warningsDriver.length > 0">
        <strong>Warning!</strong>
        <br/>
        <span ng-repeat="warn in warningsDriver track by $index" >{{warn}}<br/></span>
      </div>
  </div>
  <div class="row">

  </div>
</div>